/build/
/GPATH
/GRTAGS
/GTAGS
/ext/
/debug/
/static/
/dsa-seahorn/
/crab-llvm/
/sea-dsa/
/llvm-dsa/
*.pyc
*.pyo
/llvm-seahorn/
/seahorn-llvm/
/gtags.files
/.idea/
FromCmd.*
/C50/c5.0.dt_entropy*
/C50/c5.0.dt_penalty*
*temp
*log
*.o
